@model Hooking.Models.FishingTechniques

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FishingTechniques</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorHasBoat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorHasBoat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inshore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inshore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offshore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offshore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
