@page
@model Hooking.Areas.Identity.Pages.Account.Manage.MyCottageReservationsModel
@using Hooking.Models;

@{
    ViewData["Title"] = "Moje rezervacije vikendica";
    ViewData["ActivePage"] = ManageNavPages.MyCottageReservations;
}
@{
    List<Cottage> cottages = (List<Cottage>)ViewData["Cottage"];
    int i = 0;
}
<h4>Moje rezervacije avantura</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Naziv vikendice
            </th>
            <th>
                Od
            </th>
            <th>
                Do
            </th>
            <th>
                Cena
            </th>
            <th>
                Max broj osoba
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.myCottageReservations)
        {
            @if (DateTime.Compare(item.StartDate, DateTime.Now) > 0)
            {
                <tr>
                    <td>
                        @cottages[i].Name
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxPersonCount)
                    </td>

                    <td>
                        <a href="@Url.Action("Details", "CottageReservations", new { Id = @item.Id })">Prikazi vise</a>|
                        <a href="@Url.Action("Delete", "CottageReservations", new { Id = @item.Id })">Otkazi rezervaciju</a>
                    </td>


                </tr>
            }
            i++;
        }
    </tbody>
</table>