@model IEnumerable<Hooking.Models.SystemOptions>

@{
    ViewData["Title"] = "Podešavanja";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Izmeni</a>
            </td>
        </tr>
}
    </tbody>
</table>
