@model Hooking.Models.BoatReservationReview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BoatReservationReview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoatReservationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoatReservationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DidntShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DidntShow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedPenalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedPenalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
