@model Hooking.Models.BoatSpecialOffer

@{
    ViewData["Title"] = "Delete";
}

<h1>Uklanjanje specijalne ponude</h1>

<h3>Da li ste sigurni da želite da uklonite specijalnu ponudu?</h3>
<div>
    <h4>BoatSpecialOffer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.BoatId)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.BoatId)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPersonCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPersonCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Potvrdi" class="btn btn-danger" /> |
        <a asp-action="Index">Povratak na pregled specijalnih ponuda</a>
    </form>
</div>
