@model Hooking.Models.HouseRules

@{
    ViewData["Title"] = "Details";
}

<h1>Izmena pravila ponašanja</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NonSmoking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NonSmoking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeRestriction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeRestriction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowVersion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
