@using Microsoft.AspNetCore.Identity
@model IEnumerable<Hooking.Models.Cottage>
@inject SignInManager<IdentityUser> _signInManager

@{
    ViewData["Title"] = "Vikendice";
    DateTime startDate = (DateTime)ViewData["StartDate"];
    DateTime endDate = (DateTime)ViewData["EndDate"];
    int MaxPersonCount = (int)ViewData["MaxPersonCount"];

}

<h1>Vikendice</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Name"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Address"]">@Html.DisplayNameFor(model => model.Address)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["City"]">@Html.DisplayNameFor(model => model.City)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Country"]">@Html.DisplayNameFor(model => model.Country)</a>
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th data-defaultsort="asc">
                @Html.DisplayNameFor(model => model.RoomCount)
            </th>
            <th data-defaultsort="asc">
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th data-defaultsort="asc">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AverageGrade"]">@Html.DisplayNameFor(model => model.AverageGrade)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeCount)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.CancelationPolicyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularPrice)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.WeekendPrice)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.CottageOwnerId)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeCount)
                </td>
                <th hidden>
                    @Html.DisplayFor(modelItem => item.CancelationPolicyId)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.RegularPrice)
                </th>
                <th hidden>
                    @Html.DisplayFor(modelItem => item.WeekendPrice)
                </th>
                <th hidden>
                    @Html.DisplayFor(modelItem => item.CottageOwnerId)
                </th>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.RowVersion)
                </td>
                <td>

                    <a href="@Url.Action("FinishCottageReservation", "Cottages", new { Id = @item.Id, StartDate=startDate, EndDate=endDate, MaxPersonCount = MaxPersonCount })">Rezervisi</a>

                    @if (_signInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-controller="Cottages" asp-route-id="@item.Id"> | Obriši</a>
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
