@model IEnumerable<Hooking.Models.BoatReview>

@{
    ViewData["Title"] = "Revizije";
}

<h1>Revizije</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @if (!item.IsReviewed)
                {
                    <a asp-action="Approve" asp-route-id="@item.Id">Odobri | </a>
                    <a asp-action="Deny" asp-route-id="@item.Id">Odbij</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>