@model IEnumerable<Hooking.Models.FishingEquipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LiveBite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlyFishingGear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RodsReelsTackle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LiveBite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlyFishingGear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RodsReelsTackle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
